/*
	This config is originally derived from
	https://github.com/Pipshag/dotfiles_gruvbox/blob/master/.config/waybar/style.css
	and inspired by
	https://github.com/Befrimon/dotfiles
*/

/* COLORS - Gruvbox Dark */
/* basic colors (from alacritty theme and polybar config) */
@define-color black #282828;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color orange #fe8019;
@define-color blue #458588;
@define-color magenta #b16286;
@define-color cyan #689d6a;
@define-color white #a89984;

@define-color bg #282828;
@define-color bg-alt #3c3836;
@define-color fg #fbf1c7;

/* ANIMATIONS */
@keyframes blink-warning {
    50% {
		background-color: @bg;
    }

    to {
        background-color: @orange;
    }
}

@keyframes blink-critical {
    50% {
	  background-color: @bg;
    }

    to {
        background-color: @red;
    }
}

/* ELEMENT STYLE */
/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
}

/* The whole bar */
#waybar {
    background: @bg-alt;
    color: @fg;
    font-family: "JetBrains Mono";
    font-size: 10pt;
    font-weight: bold;
}

/* Settings applied to every module */
#battery,
#clock,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#language {
    margin: 0.4em;
	border-radius: 0.5em;
    padding: 0.4em 0.8em;
	background-color: @bg;
	color: @fg;
}

/* Each module that should blink */
#memory,
#mode,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#battery.critical {
    color: @red;
}

/* Each critical that should blink */
#memory.critical,
#mode,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 0.5s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#battery.warning {
    background: @bg;
    color: @orange;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 2s;
}


/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces button {
    background: @bg-alt;
    margin: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0.2em;
    color: @fg;
}
#workspaces button.focused {
    font-weight: bolder; /* Somewhy the bar-wide setting is ignored*/
	background: @bg;
	color: @orange;
	margin: 0.4em;
	border-radius: 0.5em;
}
#workspaces button.urgent {
    color: @fg;
	background: @red;
    opacity: 1;
}

#clock {
    color: @magenta;
}

#language {
    color: @green;
}

#pulseaudio {
    color: @fg;
}
#pulseaudio.muted {
    color: @red;
}

#battery {
    color: @green;
}
#battery.discharging {
	color: @yellow;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}

#network {
    color: @green;
}

#mode { /* Shown current Sway mode (resize etc.) */
    color: @fg;
    background: @red;
}
