/*
	This config is originally derived from
	https://github.com/Pipshag/dotfiles_gruvbox/blob/master/.config/waybar/style.css
	and inspired by
	https://github.com/Befrimon/dotfiles
*/

@import "mocha.css";

/* ANIMATIONS */
@keyframes blink-warning {
    50% {
		background-color: @base;
    }

    to {
        background-color: @orange;
    }
}

@keyframes blink-critical {
    50% {
	  background-color: @base;
    }

    to {
        background-color: @red;
    }
}

/* ELEMENT STYLE */
/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
}

/* The whole bar */
#waybar {
    background: @mantle;
    color: @text;
    font-family: "JetBrains Mono";
    font-size: 9pt;
    font-weight: bold;
	border: 1px solid @teal;
	border-radius: 0.5rem;
	opacity: 0.9;
}

/* Settings applied to every module */
#battery,
#clock,
#memory,
#network,
#pulseaudio,
#tray,
#submap,
#language {
    margin: 0.4em;
	border-radius: 0.5em;
    padding: 0.4em 0.8em;
	background-color: @base;
	color: @text;
}

/* Each module that should blink */
#memory,
#submap,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#battery.critical {
    color: @red;
}

/* Each critical that should blink */
#memory.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 0.5s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#battery.warning {
    background: @base;
    color: @orange;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 2s;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces {
	margin-left: 0.2em;
}
#workspaces button {
    background: @mantle;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
	border-radius: 0.5em;
    /*padding-left: 1em;*/
    /*padding-right: 1em;*/
    color: @text;
}
#workspaces button.active {
    font-weight: bolder; /* Somewhy the bar-wide setting is ignored*/
	background: @base;
	color: @sky;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#workspaces button.urgent {
    color: @text;
    background: @red;
    opacity: 1;
}
#workspaces button:not(.urgent):hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background-color: @base;
}

#clock {
    color: @flamingo;
}

#language {
    color: @green;
}

#pulseaudio {
    color: @text;
}
#pulseaudio.muted {
    color: @red;
}

#battery {
    color: @green;
}
#battery.discharging {
	color: @yellow;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}

#network {
    color: @green;
}

#submap { /* Shown current Hyprland submap (resize etc.) */
    color: @text;
	padding: 5px;
	background-color: @base;
}
